<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokerReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PokerReader.Properties.Settings>
            <setting name="licLastDay" serializeAs="String">
                <value />
            </setting>
            <setting name="licDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseCustomCoordinates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b1x" serializeAs="String">
                <value>178</value>
            </setting>
            <setting name="b2x" serializeAs="String">
                <value>227</value>
            </setting>
            <setting name="b3x" serializeAs="String">
                <value>278</value>
            </setting>
            <setting name="b4x" serializeAs="String">
                <value>326</value>
            </setting>
            <setting name="b5x" serializeAs="String">
                <value>375</value>
            </setting>
            <setting name="by" serializeAs="String">
                <value>184</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value />
            </setting>
            <setting name="dataFile" serializeAs="String">
                <value>C:\data.txt</value>
            </setting>
            <setting name="fromFolder" serializeAs="String">
                <value>C:\SimplePostflop\Input\</value>
            </setting>
            <setting name="toFolder" serializeAs="String">
                <value>C:\SimplePostflop\FlopSubset\</value>
            </setting>
            <setting name="imageFormat" serializeAs="String">
                <value>gif</value>
            </setting>
            <setting name="t2c1x" serializeAs="String">
                <value>874</value>
            </setting>
            <setting name="t2c2x" serializeAs="String">
                <value>891</value>
            </setting>
            <setting name="t2c3x" serializeAs="String">
                <value>908</value>
            </setting>
            <setting name="t2c4x" serializeAs="String">
                <value>925</value>
            </setting>
            <setting name="t2cy" serializeAs="String">
                <value>324</value>
            </setting>
            <setting name="t2b1x" serializeAs="String">
                <value>769</value>
            </setting>
            <setting name="t2b2x" serializeAs="String">
                <value>827</value>
            </setting>
            <setting name="t2b3x" serializeAs="String">
                <value>878</value>
            </setting>
            <setting name="t2b4x" serializeAs="String">
                <value>926</value>
            </setting>
            <setting name="t2b5x" serializeAs="String">
                <value>975</value>
            </setting>
            <setting name="t2by" serializeAs="String">
                <value>184</value>
            </setting>
            <setting name="t3c1x" serializeAs="String">
                <value>1474</value>
            </setting>
            <setting name="t3c2x" serializeAs="String">
                <value>1491</value>
            </setting>
            <setting name="t3c3x" serializeAs="String">
                <value>1508</value>
            </setting>
            <setting name="t3c4x" serializeAs="String">
                <value>1525</value>
            </setting>
            <setting name="t3cy" serializeAs="String">
                <value>324</value>
            </setting>
            <setting name="t3b1x" serializeAs="String">
                <value>1378</value>
            </setting>
            <setting name="t3b2x" serializeAs="String">
                <value>1427</value>
            </setting>
            <setting name="t3b3x" serializeAs="String">
                <value>1478</value>
            </setting>
            <setting name="t3b4x" serializeAs="String">
                <value>1526</value>
            </setting>
            <setting name="t3b5x" serializeAs="String">
                <value>1575</value>
            </setting>
            <setting name="t3by" serializeAs="String">
                <value>184</value>
            </setting>
            <setting name="t4c1x" serializeAs="String">
                <value>274</value>
            </setting>
            <setting name="t4c2x" serializeAs="String">
                <value>291</value>
            </setting>
            <setting name="t4c3x" serializeAs="String">
                <value>308</value>
            </setting>
            <setting name="t4c4x" serializeAs="String">
                <value>325</value>
            </setting>
            <setting name="t4cy" serializeAs="String">
                <value>724</value>
            </setting>
            <setting name="t4b1x" serializeAs="String">
                <value>178</value>
            </setting>
            <setting name="t4b2x" serializeAs="String">
                <value>227</value>
            </setting>
            <setting name="t4b3x" serializeAs="String">
                <value>278</value>
            </setting>
            <setting name="t4b4x" serializeAs="String">
                <value>326</value>
            </setting>
            <setting name="t4b5x" serializeAs="String">
                <value>375</value>
            </setting>
            <setting name="t5c1x" serializeAs="String">
                <value>874</value>
            </setting>
            <setting name="t5c2x" serializeAs="String">
                <value>891</value>
            </setting>
            <setting name="t5c3x" serializeAs="String">
                <value>908</value>
            </setting>
            <setting name="t5c4x" serializeAs="String">
                <value>925</value>
            </setting>
            <setting name="t5cy" serializeAs="String">
                <value>724</value>
            </setting>
            <setting name="t5b1x" serializeAs="String">
                <value>778</value>
            </setting>
            <setting name="t5b2x" serializeAs="String">
                <value>827</value>
            </setting>
            <setting name="t5b3x" serializeAs="String">
                <value>878</value>
            </setting>
            <setting name="t5b4x" serializeAs="String">
                <value>926</value>
            </setting>
            <setting name="t5b5x" serializeAs="String">
                <value>975</value>
            </setting>
            <setting name="t4by" serializeAs="String">
                <value>584</value>
            </setting>
            <setting name="t5by" serializeAs="String">
                <value>584</value>
            </setting>
            <setting name="t6c1x" serializeAs="String">
                <value>1474</value>
            </setting>
            <setting name="t6c2x" serializeAs="String">
                <value>1491</value>
            </setting>
            <setting name="t6c3x" serializeAs="String">
                <value>1508</value>
            </setting>
            <setting name="t6c4x" serializeAs="String">
                <value>1525</value>
            </setting>
            <setting name="t6cy" serializeAs="String">
                <value>724</value>
            </setting>
            <setting name="t6b1x" serializeAs="String">
                <value>1378</value>
            </setting>
            <setting name="t6b2x" serializeAs="String">
                <value>1427</value>
            </setting>
            <setting name="t6b3x" serializeAs="String">
                <value>1478</value>
            </setting>
            <setting name="t6b4x" serializeAs="String">
                <value>1526</value>
            </setting>
            <setting name="t6by" serializeAs="String">
                <value>584</value>
            </setting>
            <setting name="t6b5x" serializeAs="String">
                <value>1575</value>
            </setting>
            <setting name="gameType" serializeAs="String">
                <value>Hold'em</value>
            </setting>
            <setting name="readHoleCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="readBoard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="readStacks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="readBets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playersCount" serializeAs="String">
                <value>6-max</value>
            </setting>
            <setting name="readPot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s1x" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="s2x" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="s3x" serializeAs="String">
                <value>470</value>
            </setting>
            <setting name="s1y" serializeAs="String">
                <value>373</value>
            </setting>
            <setting name="s2y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="s3y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="sWidth" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="sHeight" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="a1x" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="a2x" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="a3x" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="a1y" serializeAs="String">
                <value>303</value>
            </setting>
            <setting name="a2y" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="a3y" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="aWidth" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="aHeight" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="t2s1x" serializeAs="String">
                <value>860</value>
            </setting>
            <setting name="t2s2x" serializeAs="String">
                <value>630</value>
            </setting>
            <setting name="t2s3x" serializeAs="String">
                <value>1070</value>
            </setting>
            <setting name="t2s1y" serializeAs="String">
                <value>373</value>
            </setting>
            <setting name="t2s2y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="t2s3y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="t2a1x" serializeAs="String">
                <value>870</value>
            </setting>
            <setting name="t2a2x" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="t2a3x" serializeAs="String">
                <value>1010</value>
            </setting>
            <setting name="t2a1y" serializeAs="String">
                <value>303</value>
            </setting>
            <setting name="t2a2y" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="t2a3y" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="pWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="pHeight" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="px" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="py" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="t2px" serializeAs="String">
                <value>870</value>
            </setting>
            <setting name="t2py" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="table1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="table2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="table3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="table4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="table5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="table6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t3s1x" serializeAs="String">
                <value>1460</value>
            </setting>
            <setting name="t3s2x" serializeAs="String">
                <value>1230</value>
            </setting>
            <setting name="t3s3x" serializeAs="String">
                <value>1670</value>
            </setting>
            <setting name="t3s1y" serializeAs="String">
                <value>373</value>
            </setting>
            <setting name="t3s2y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="t3s3y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="t3a1x" serializeAs="String">
                <value>1470</value>
            </setting>
            <setting name="t3a2x" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="t3a3x" serializeAs="String">
                <value>1610</value>
            </setting>
            <setting name="t3a1y" serializeAs="String">
                <value>303</value>
            </setting>
            <setting name="t3a2y" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="t3a3y" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="t3px" serializeAs="String">
                <value>1470</value>
            </setting>
            <setting name="t3py" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="t4s1x" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="t4s2x" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="t4s3x" serializeAs="String">
                <value>470</value>
            </setting>
            <setting name="t4s1y" serializeAs="String">
                <value>773</value>
            </setting>
            <setting name="t4s2y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t4s3y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t4a1x" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="t4a2x" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="t4a3x" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="t4a1y" serializeAs="String">
                <value>703</value>
            </setting>
            <setting name="t4a2y" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="t4a3y" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="t4px" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="t4py" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="t5s1x" serializeAs="String">
                <value>860</value>
            </setting>
            <setting name="t5s2x" serializeAs="String">
                <value>630</value>
            </setting>
            <setting name="t5s3x" serializeAs="String">
                <value>1070</value>
            </setting>
            <setting name="t5s1y" serializeAs="String">
                <value>773</value>
            </setting>
            <setting name="t5s2y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t5s3y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t5a1x" serializeAs="String">
                <value>870</value>
            </setting>
            <setting name="t5a2x" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="t5a3x" serializeAs="String">
                <value>1010</value>
            </setting>
            <setting name="t5a1y" serializeAs="String">
                <value>703</value>
            </setting>
            <setting name="t5a2y" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="t5a3y" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="t5px" serializeAs="String">
                <value>870</value>
            </setting>
            <setting name="t5py" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="t6s1x" serializeAs="String">
                <value>1460</value>
            </setting>
            <setting name="t6s2x" serializeAs="String">
                <value>1230</value>
            </setting>
            <setting name="t6s3x" serializeAs="String">
                <value>1670</value>
            </setting>
            <setting name="t6s1y" serializeAs="String">
                <value>773</value>
            </setting>
            <setting name="t6s2y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t6s3y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t6a1x" serializeAs="String">
                <value>1470</value>
            </setting>
            <setting name="t6a2x" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="t6a3x" serializeAs="String">
                <value>1610</value>
            </setting>
            <setting name="t6a1y" serializeAs="String">
                <value>703</value>
            </setting>
            <setting name="t6a2y" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="t6a3y" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="t6px" serializeAs="String">
                <value>1470</value>
            </setting>
            <setting name="t6py" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="OCRlog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="solutionFormat" serializeAs="String">
                <value>gto</value>
            </setting>
            <setting name="a4x" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="a5x" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="a6x" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="s4x" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="s5x" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="s6x" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="a4y" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="a5y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="a6y" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="s4y" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="s5y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="s6y" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="t2a4x" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="t2a5x" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="t2a6x" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="t2s4x" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="t2s5x" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="t2s6x" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="t2a4y" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="t2a5y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="t2a6y" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="t2s4y" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="t2s5y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="t2s6y" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="t3a4x" serializeAs="String">
                <value>1370</value>
            </setting>
            <setting name="t3a5x" serializeAs="String">
                <value>1370</value>
            </setting>
            <setting name="t3a6x" serializeAs="String">
                <value>1370</value>
            </setting>
            <setting name="t3s4x" serializeAs="String">
                <value>1450</value>
            </setting>
            <setting name="t3s5x" serializeAs="String">
                <value>1450</value>
            </setting>
            <setting name="t3s6x" serializeAs="String">
                <value>1450</value>
            </setting>
            <setting name="t3a4y" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="t3a5y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="t3a6y" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="t3s4y" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="t3s5y" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="t3s6y" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="t4a4x" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="t4a5x" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="t4a6x" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="t4s4x" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="t4s5x" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="t4s6x" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="t4a4y" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="t4a5y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t4a6y" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="t4s4y" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="t4s5y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t4s6y" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="t5a4x" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="t5a5x" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="t5a6x" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="t5s4x" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="t5s5x" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="t5s6x" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="t5a4y" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="t5a5y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t5a6y" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="t5s4y" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="t5s5y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t5s6y" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="t6a4x" serializeAs="String">
                <value>1370</value>
            </setting>
            <setting name="t6a5x" serializeAs="String">
                <value>1370</value>
            </setting>
            <setting name="t6a6x" serializeAs="String">
                <value>1370</value>
            </setting>
            <setting name="t6s4x" serializeAs="String">
                <value>1450</value>
            </setting>
            <setting name="t6s5x" serializeAs="String">
                <value>1450</value>
            </setting>
            <setting name="t6s6x" serializeAs="String">
                <value>1450</value>
            </setting>
            <setting name="t6a4y" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="t6a5y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t6a6y" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="t6s4y" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="t6s5y" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="t6s6y" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="btn1x" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="btn1y" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="btnWidth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="btnHeight" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="readButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="btn2x" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="btn2y" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="btn3x" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="btn3y" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="t2btn2x" serializeAs="String">
                <value>680</value>
            </setting>
            <setting name="t2btn2y" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="t2btn1x" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="t2btn1y" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="t2btn3x" serializeAs="String">
                <value>990</value>
            </setting>
            <setting name="t2btn3y" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="t3btn1x" serializeAs="String">
                <value>1450</value>
            </setting>
            <setting name="t3btn1y" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="t3btn2x" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="t3btn3x" serializeAs="String">
                <value>1590</value>
            </setting>
            <setting name="t3btn3y" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="t3btn2y" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="t4btn1x" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="t4btn1y" serializeAs="String">
                <value>680</value>
            </setting>
            <setting name="t4btn2x" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="t4btn2y" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="t4btn3x" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="t4btn3y" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="t5btn1x" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="t5btn1y" serializeAs="String">
                <value>680</value>
            </setting>
            <setting name="t5btn2x" serializeAs="String">
                <value>680</value>
            </setting>
            <setting name="t5btn2y" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="t5btn3x" serializeAs="String">
                <value>990</value>
            </setting>
            <setting name="t5btn3y" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="t6btn1x" serializeAs="String">
                <value>1450</value>
            </setting>
            <setting name="t6btn1y" serializeAs="String">
                <value>680</value>
            </setting>
            <setting name="t6btn2x" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="t6btn2y" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="t6btn3x" serializeAs="String">
                <value>1590</value>
            </setting>
            <setting name="t6btn3y" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="imageFormatPostflop" serializeAs="String">
                <value>gif</value>
            </setting>
            <setting name="flops" serializeAs="String">
                <value>1755</value>
            </setting>
            <setting name="flopsCharts" serializeAs="String">
                <value>184</value>
            </setting>
            <setting name="writeDataFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="findSolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preflopChart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="postflopChart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preflopRangeViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="postflopRangeViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gameKind" serializeAs="String">
                <value>Cash</value>
            </setting>
            <setting name="saveHandHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="readNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preflopRangeOOP" serializeAs="String">
                <value>A2s_1 A3s_1 A4s_1 A5s_1 A6s_1 A7s_1 A8s_1 A9s_1 ATs_1 AJs_1 AQs_1 AKs_1 AA_1 AKo_1 AQo_1 AJo_1 ATo_1 A9o_1 KK_1 KQs_1 KJs_1 KTs_1 KQo_1 QQ_1 QJs_1 QTs_1 KJo_1 QJo_1 JJ_1 JTs_1 JTo_1 TT_1 T9s_1 99_1 98s_1 88_1 87s_1 77_1 76s_1 66_1 55_1 44_1 33_1 22_1 </value>
            </setting>
            <setting name="preflopRangeIP" serializeAs="String">
                <value>A8s_1 A9s_1 ATs_1 AJs_1 K9s_1 KTs_1 KJs_1 KQs_1 AQo_1 KQo_1 QJs_1 QTs_1 AJo_1 KJo_1 QJo_1 JTs_1 J9s_1 ATo_1 KTo_1 QTo_1 JTo_1 TT_1 T9s_1 T8s_1 99_1 98s_1 97s_1 88_1 87s_1 86s_1 77_1 76s_1 66_1 65s_1 55_1 44_1 33_1 22_1 </value>
            </setting>
            <setting name="boardGTO" serializeAs="String">
                <value>4cJdQh</value>
            </setting>
            <setting name="betSizeGTO" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="raiseSizeGTO" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="showStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainFormLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainFormTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formStats1Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formStats1Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formStats2Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formStats2Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRangesLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRangesTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges1Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges1Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges2Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges2Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges3Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges3Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges4Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges4Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges5Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges5Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges6Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRanges6Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges1Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges1Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges2Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges2Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges3Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges3Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges4Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges4Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges5Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges5Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges6Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRanges6Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRangesLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRangesTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="roomAndGame" serializeAs="String">
                <value>PartyPoker Regular Cash</value>
            </setting>
            <setting name="hero" serializeAs="String">
                <value>HeroName</value>
            </setting>
            <setting name="sb" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="bb" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="inBBs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="potGTO" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="stackGTO" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="form1HUD1X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form1HUD1Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form1HUD2X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form1HUD2Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form1HUD3X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form1HUD3Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form2HUD1X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form2HUD1Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form2HUD2X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form2HUD2Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form2HUD3X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form2HUD3Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="postflopOpponentsRangeViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="builtInPostflopSulutions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importedPostflopSulutions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="formPostflopRangeImportWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formPostflopRangeImportHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRangeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formRangeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stacksFilterOCR" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="adaptedRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="holeCardsFilterOCR" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="betsFilterOCR" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="namesFilterOCR" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="boardFilterOCR" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="useGTOPlusAPI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkmathPostflopSulutions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkmathFolderAPI" serializeAs="String">
                <value>D:\Checkmath\misc</value>
            </setting>
            <setting name="betSizesGTO" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="betSizesTurnGTO" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="betSizesRiverGTO" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="potFilterOCR" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="stackSubset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="situationSubset" serializeAs="String">
                <value />
            </setting>
            <setting name="GTOWizard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GTOWizardPreflop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GTOWizardFlop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rangeViewerWindowFormat" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="minimalizedStrategyFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minimalizedStrategyFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="omahaPostflop" serializeAs="String">
                <value>Omaha Wizard</value>
            </setting>
            <setting name="postflopRangeViewerFormat" serializeAs="String">
                <value>Pre-calculated</value>
            </setting>
        </PokerReader.Properties.Settings>
    </userSettings>
</configuration>